ol {
    list-style: square;
}

ol ul {
    list-style-type: disc;
}

.subheader {
    list-style-type: none;
    font-weight: bolder;
    text-decoration: underline;
}

.subheader:hover {
    text-decoration: none;
    color: lightcoral;
}

nav ul {
    list-style-type: none;
   /* list-style: url(https://enrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnK931CFGmmwrfIALWt2P6lqD2a99JKDqoPw&usqp=CAU);*/
}

nav ul li {
    display: inline;
}

body {
    margin: 15px;
}

section {
    margin-top: 10px;
    padding: 5px 10px 2px 4px;
    border: 1px blue solid;

}

