ol {
    list-style: square;
}

ul ul {
    list-style-type: disc;
}

.subheader {
    list-style-type: none;
    font-weight: bolder;
    text-decoration: underline;
}

.subheader:hover {
    text-decoration: none;
    color: lightcoral;
}