/*download live preview for vs code to display website while coding*/
/*WEEK 9 FLEX BOX*/

.flex-container {
    display: flex;
    height: 50vh;
    /*vh is view of the window*/
    background-color: lightblue;
    /*flex defaults*/
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify content is to set up the layout or content (start, end, center, etc. works too)*/
    justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;
    /*item placement and alignments*/
    align-items: stretch, start, center;

}

.flex-item {
    width: 100px;
    border: 1px solid gray;
    background-color: lightgray;
}

.item-1 {
    min-height: 50px;
}

.item-2 {
    min-height: 100px;
}

.item-3 {
    min-height: 200px;
}